<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title >Base Html</title>
</head>
<body>
<section class="banner d-flex justify-content-center align-item-center">
<div class="text-center">
<h3>Smart Contact Manager</h3>
<p>Start collecting your contacts in very smarter way. We provide very efficient and smarter way of handing contacts</p>
<button class="btn bg-primary btn-lg text-white">Get Start</button>
</div>
</section>
</body>
</html>